.col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }

.col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
  }

.red {
  font-weight: bold;
  color: red
}

.blueBackground {
  line-height: 1.3;
  padding: .5em;
  background-color: white;
  background: rgba(100, 149, 237, 0.3);
  border: 1px solid gray;
  border-radius: 10px;
  width: 85%;
  font-size: 12px;
  }

.greenBackground {
  line-height: 1.3;
  padding: .5em;
  background-color: white;
  background: rgba(0, 150, 0, 0.3);
  border: 1px solid gray;
  border-radius: 10px;
  width: 85%;
  font-size: 12px;
  }



.underline{
  text-decoration: underline
}

.sidenote{
font-weight: bold;
font-size: .7em;
background-color: white;
background: rgba(220, 0, 180, 0.3);
}

.instructorNote{
font-weight: bold;
background-color: white;
background: rgba(220, 0, 180, 0.3);
}